apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
spec:
  project: cert-manager
  sources:
  - repoURL: https://charts.jetstack.io
    chart: cert-manager
    targetRevision: v1.19.1
    helm:
      parameters:
        - name: installCRDs
          value: "true"
  - repoURL: 'https://github.com/tatsukoni-pra/k8s-actions-runner-controller-demo'
    path: infra/cert-manager
    targetRevision: main
  destination:
    namespace: cert-manager
    server: "https://kubernetes.default.svc"
